<!DOCTYPE html>
<html lang="en">

<head>

    <%- include( 'partials/head'); %>

        <title>BLUE-dex</title>
</head>

<body>

    <%- include('partials/gameboy'); %>

        <div id="mainContainer">

            <%- include('partials/title+nav'); %>

                <main class="mainContainer_outerContent" id="mainContent">

                    <div class="mainContainer_innerContent">

                        <section id="pokemonDetails">

                            <div class="mainPokemonSummary">

                                <p>#
                                    <%=selectedPokemon.number %>
                                        </span>
                                </p>
                                <p>
                                    <%= selectedPokemon.name.toUpperCase() %>
                                </p>
                                <p>
                                    <%= selectedPokemon.type %>
                                </p>

                            </div>

                        </section>

                    </div>
                </main>
        </div>

        <script src="/JS/script.js"></script>

</body>

</html>