<!DOCTYPE html>
<html lang="en">

<head>

    <%- include( 'partials/head'); %>

        <link rel="stylesheet" href="/CSS/index.css">

        <title>BLUE-dex</title>
</head>

<body>

    <%- include('partials/gameboy'); %>

        <div id="mainContainer">

            <%- include('partials/title+nav'); %>

                <main class="mainContainer_outerContent" id="mainContent">

                    <div class="mainContainer_innerContent">

                        <section id="pokemonCards_all">

                            <% pokedex.forEach((pokemon) => {  %>

                                <div class="pokemonCardContainer">

                                    <div class="pokemonCardBox" id="<%= pokemon.id %>" style="background-image: url('<%= pokemon.png %>')">

                                        <div class="pokeballContainer">

                                            <img src="img/pokeball.png" alt="">

                                        </div>
                                    </div>

                                    <div class="mainPokemonSummary">

                                        <p>#
                                            <%= pokemon.number %>
                                        </p>
                                        <p>
                                            <%= pokemon.name.toUpperCase() %>
                                        </p>
                                        <p>
                                            <%= pokemon.type %>
                                        </p>

                                    </div>
                                </div>

                                <% }); %>


                        </section>
                    </div>
                </main>
        </div>

        <script src="/JS/script.js"></script>
        <script src="/JS/index_script.js"></script>

</body>

</html>